<div class="row">
  <h1>Educacion</h1>

<div class="col-log-2">
   <button class="btn btn-outline-info" routerLink="/nuevaEDU" *ngIf="isLogged" > Agreagar educacion </button>
</div>
<br>
  <div class="col-lg-12">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td><h2>{{Educacion.nombreE}}</h2></td>
          <td>{{Educacion.descripcionE}}</td>
          <td *ngIf="isLogged"> <button class="btn btn-outline-success px-3" routerLink="/editEDU/{{Educacion.id}}"  >
            <i class="bi bi-pencil-fill"></i> EDITAR</button></td>
          <td *ngIf="isLogged"><button class="btn btn-outline-danger px-3" (click)="delete(Educacion.id)" >
            <i class="bi bi-trash-fill" ></i> BORRAR</button></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>


