.row{
  margin: 0;
  padding: 0;
  background-color: #121210;
}

h2, h3 {
  display: inline;
}
h1, tbody{
  margin-top: 25px;
  margin-bottom: 25px;
  color:aliceblue;
}
.table{
  margin-top: 30px;
}

@media (max-width: 450px){
  h1 {
    margin-top: 350px;
    margin-left: 5px;
  }
}


