
<div class="row">

  <div class="col-log-12">
    <button class="btn btn-outline-success btn-lg px-5" routerLink="/editACERCA/1" *ngIf="isLogged" >
      <i class="bi bi-pencil-fill" ></i> EDITAR</button>
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
    <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
   <p> Full stack Developer jr</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Acerca De Mi</h3>
      <p>{{persona.descripcion}}</p>
    </span>
  </div>

</div>

