
<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="col-lg-2">
    <button class="btn btn-outline-info" routerLink="/nuevaSKILL" *ngIf="isLogged" > Nueva Skill </button>
  </div>
  <div class="text-center col-sm-4 col-sd-4 col-lg-4" *ngFor="let skill of skill">
    <circle-progress
    [title]="(skill.nombre)"
    [space]="6"
    [percent]="(skill.porcentaje)"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [imageHeight]="120"
    [imageWidth]="115"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#f8e76f'"
    [innerStrokeColor]="'#f0e38a'"
    [animation]="true"
    [animationDuration]="600" >
    </circle-progress>

      <td *ngIf="isLogged"> <button class="btn btn-success" routerLink="/editSKILL/{{skill.id}}"  >
       <i class="bi bi-pencil-fill"></i> EDITAR</button>
      </td>

      <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(skill.id)" >
        <i class="bi bi-trash-fill" ></i> BORRAR</button>
      </td>
  </div>
</div>
